<head>
<style>
h1{
    color: yellowgreen;
    text-align: left;
}
p{
    color: firebrick;
    text-align: center;
    font-style: oblique;
    font-size: xxxxxxxx larger;
}
</style>
</head>
<h1>Sunset GT</h1>
<p>coming soon sunset GT </p>
    <p>taking place at garden city get all the experience by purchasing our tickets at my tickets</p>